streamlit==1.36.0
streamlit-autorefresh==1.0.1
pandas==2.2.2
numpy==1.26.4
requests==2.32.3
plotly==5.22.0
textblob==0.17.1
vaderSentiment==3.3.2
scikit-learn==1.4.2
tensorflow==2.16.1
websocket-client==1.8.0
